<div style="text-align: center; padding-top: 10px">
    <h3>Đăng ký</h3>
</div>
</div>
<div style="padding-top: 50px">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text ">Tên đăng nhập</span>
                </div>
                <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Mật khẩu</span>
                </div>
                <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Xác nhận lại mật khẩu</span>
                </div>
                <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text ">Họ và Tên</span>
                </div>
                <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text ">Email</span>
                </div>
                <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text ">Số điện thoại</span>
                </div>
                <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text ">CMND</span>
                </div>
                <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-default button">Đăng ký</button>
        </div>
    </div>
</div>